@charset "utf-8";
/* CSS Document */

.centro
{
	width: 300px;
	height: auto;
	margin: auto auto;
	margin-top: 150px;
}

.centrar
{
	width: 100%;
	text-align: center;
}

.ajustado{
    display: inline-block;
    width: 99%;
}

.contenido
{
	position: relative;
	top: 100px;
	max-width: 999px;
	width: 999px;
	height: auto;
	margin: auto auto;
}

.menu
{
	float: left;
	max-width: 164px;
	width: 164px;
}

.botonMenu
{
	background: url(/Imagenes/boton1.jpg);
	background-size: 164px 46px;
	width: 164px;
	height: 46px;
	text-align: center;
	font-weight: bold;
}

.botonMenu:hover
{
	background: url(/Imagenes/boton2.jpg);
	background-size: 164px 46px;
	width: 164px;
	height: 46px;
	text-align: center;
	color: white;
	font-weight: 900;
}

.panelPrincipal
{
	float: left;
	max-width: 833px;
	width: 833px;
}

iframe
{
	border: 0;
}

.cabecera
{
	text-align: center;
	top: 25px;
	max-width: 999px;
	width: auto;
	height: auto;
	padding: auto auto;
	margin: 0 auto;	
}

table
{
	border: 1px solid black;
	width: 100%;
}

tr
{
	border: 1px solid black;
}

td
{
	border: 1px solid black;
}

th
{
	border: 1px solid black;
}

.logo
{
	width: 15px;
}

svg
{
	max-height: 400px;
}

.oculto
{
	display:none;
	background: rgba(229,229,229,0.8);
	max-height: 80%;
	overflow: auto;
	cursor: zoom-out;
}

.ampliable
{
	cursor: zoom-in;
}